appdirs==1.4.3
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
fuzzywuzzy==0.17.0
idna==2.8
packaging==19.2
pyparsing==2.4.5
python-Levenshtein==0.12.0
requests==2.22.0
six==1.13.0
urllib3==1.25.6
wikipedia==1.4.0
