-i https://pypi.org/simple/
aiohttp==3.7.3
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
fuzzywuzzy==0.18.0
idna==2.10
multidict==5.1.0
pyparsing==2.4.7
pyteleloisirs==3.6
python-levenshtein==0.12.2
requests==2.25.1
six==1.15.0
soupsieve==2.1 ; python_version >= '3.0'
typing-extensions==3.7.4.3
urllib3==1.26.3
wikipedia==1.4.0
yarl==1.6.3
